<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: beige;">
    <h1>Movies suggestion</h1>
    <br>
    <br>
    <h1>Thriller:</h1>
    {% for i in Thriller %}
          <h1>{{i}}</h1>
         {% endfor %}
         <br>

    <h1>comedy:</h1>
    {% for i in Comedy %}
          <h1>{{i}}</h1>
         {% endfor %}
         <br>

    <h1>Crime:</h1>
    {% for i in Crime %}
          <h1>{{i}}</h1>
         {% endfor %}

    
</body>
</html>